/*=======================================================
	reset
=======================================================*/
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, q, pre, table, caption, colgroup, col,
tbody, thead, tfoot, tr, th, td, ul, ol, li, dl, dt, dd, form, fieldset, legend, label, span, a,
img, em, ins, del, cite, abbr, sup, sub, dfn, code, var, samp, kbd, object, script, noscript,
style, iframe, embed, param, map, area,
menu, hr, address, small, strong, i, b,
article, aside, figure, footer, header, hgroup, nav, section, figcaption, time, video, audio,
mark, ruby, rt, rp, bdo, source, canvas, details, summary, command,
datalist, keygen, output, progress, meter {
  margin: 0;
  padding: 0;
}

address, article, aside, figure, figcaption, footer, header, hgroup, hr, legend, menu, nav,
section, summary, img {
  display: block;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
}
